/*-----------------------CSS RESET ---------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*----------------------- Header ---------------------*/

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: black;
    height: 20vh;
    width: auto;
}

.logo {
    height: 100px;
    width: 150px;
}

/*----------------------- right-sidebar ---------------------*/

.right-sidebar {
    display: flex;
    align-items: center;
    text-align: center;
    background: #c4c4c4;
    width: 200px;
    height: 80vh;
    float: left;
}

.rebel-emblem {
    width: 200px;
    height: 200px;
}

/*----------------------- right-sidebar ---------------------*/

.left-sidebar {
    display: flex;
    align-items: center;
    text-align: center;
    background: #c4c4c4;
    width: 200px;
    height: 80vh;
    float: right;
}

.empire-emblem {
    width: 200px;
    height: 200px;
}

/*-----------------------  Start Game ---------------------*/

h1 {
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 20px 0;
}

.start-game {
    text-align: center;
    margin: 100px auto;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    width: 500px;
    padding: 50px 0 50px 0;
}

/*----------------------- Questions & Answers ---------------------*/

.questions-and-answers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.question {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    margin: 50px 0 20px 0;
}

.answer-option {
    font-family: "Roboto", sans-serif;
    text-align: center;
    background: #c4c4c4;
    width: 400px;
    padding: 10px;
    margin: 10px 0 0 0;
    font-size: 20px;
}

.answer-option:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

span {
    float: left;
    font-size: 15px;
}

.clearfix {
    overflow: auto;
}

/*----------------------- Buttons ---------------------*/

.btn {
    font-family: "Roboto", sans-serif;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    border: 2px solid black;
    color: black;
    background-color: #c4c4c4;
}

.btn:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
/*--------------------- End Game -------------------*/
.endGameText{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: 800px;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    font-size: 30px;
}


/*----------------------- hide ---------------------*/

.hide {
    display: none;
}